<div class="container">
    <form [formGroup]="sampleForm" name="sampleForm">
        <div class="row mb-3">
            <div class="col-4">
                <div [cFormFloating]="true">
                    <input cFormControl id="floatingFirstName" formControlName="firstName" placeholder="Enter first name" />
                    <label cLabel for="floatingFirstName">First Name</label>
                </div>
                <app-print-error [controlName]="sampleFormControls['firstName']"></app-print-error>
            </div>
            <div class="col-4">
                <div [cFormFloating]="true">
                    <input cFormControl id="floatingMiddleName" formControlName="middleName" placeholder="Enter middle name" />
                    <label cLabel for="floatingMiddleName">Middle Name</label>
                </div>
                <app-print-error [controlName]="sampleFormControls['middleName']"></app-print-error>
            </div>
            <div class="col-4">
                <div [cFormFloating]="true">
                    <input cFormControl id="floatingLastName" formControlName="lastName" placeholder="Enter last name" />
                    <label cLabel for="floatingLastName">Last Name</label>
                </div>    
                <app-print-error [controlName]="sampleFormControls['lastName']"></app-print-error>  
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <div [cFormFloating]="true">
                    <input cFormControl id="floatingEmail" formControlName="email" placeholder="Enter email address" />
                    <label cLabel for="floatingEmail">Email address</label>
                </div>
                <app-print-error [controlName]="sampleFormControls['email']"></app-print-error>  
            </div>
            <div class="col-6">
                <div [cFormFloating]="true">
                    <input cFormControl id="floatingMobile" formControlName="mobileNumber" mask="(000) 000-0000" placeholder="Enter mobile number" />
                    <label cLabel for="floatingMobile">Mobile Number</label>
                </div>
                <app-print-error [controlName]="sampleFormControls['mobileNumber']"></app-print-error>  
            </div>
        </div>
        <button color="primary" cButton class="me-1" shape="rounded-pill" (click)="submitForm()">Submit</button>
    </form>
</div>