@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

.custom-datepicker {
    border: 1px solid rgb(211, 201, 201); /* Add your preferred border style here */
    border-radius: 8px; /* Add your preferred border radius here */
    padding: 7px; /* Add your preferred padding here */
    font-size: 15px;
  }