.css-15bluo4 .react-kanban-column{
background: linear-gradient(180deg, #00b4dd 64px, #dff3ff99 70px);
    border-radius: 1rem !important;
    border: 4px solid #bcdaff0f;
    border-top: 1px solid var(--main-bg-color);
}
.css-srvm6p-MuiBadge-root .MuiBadge-badge {
    background: linear-gradient(310deg, #3fb8d5db, #114f6c) !important;
}


:root {
    --main-bg-color: #dff3ff99; /* default background color */
  }

  .css-1qigvih {
    color: whitesmoke!important
  }
/* 
.css-15bluo4 .react-kanban-column{
    background-color: #F1F8FF;
} */