<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="javascript:void(0)"> {{title}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{active_item}}</li> -->
        <li class="breadcrumb-item" [class.active]="item.active" *ngFor="let item of items">
            <a *ngIf="item.url; else elseCode" [href]="item.url">{{item.title}}</a>
            <ng-template #elseCode>{{item.title}}</ng-template>
        </li>
    </ol>
    <div class="ms-auto" *ngIf="showButtons">
        <a (click)="emitAddNew()" class="btn btn-primary btn-icon text-white me-1">
            <i class="fe fe-plus"></i>
        </a>
        <a (click)="emitGoBack()" class="btn btn-secondary btn-icon text-white me-1">
            <i class="fe fe-log-in"></i>
        </a>
        <!-- <a href="javascript:void(0)" class="btn btn-orange btn-icon text-white">
            <i class="fe fe-rotate-cw me-1"></i>  Upgrade Account
        </a> -->
    </div>
</div>
<!-- PAGE-HEADER END -->
